/* Etudiants: Alexandre Julien 1012389 & Sam Chandavong 1004915 */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    margin: 0;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 0.5em;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 0 0.5em;
}

nav a, nav a:visited, nav a:active, footer a {
    text-decoration: none;
    color: white;
}

nav a:hover, footer a:hover {
    color: lightblue;
}

input {
    float: right;
}

table {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    border: none;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color:  #dde8f0;
}

table tr:first-child {
    border-top: 1px solid #dde8f0;
}

table tr {
    border-left: 1px solid #dde8f0;
    border-right: 1px solid #dde8f0;
}

table tr:last-child {
    border-bottom: 1px solid #dde8f0;
}

table td {
    width: 33%;
}

table td:not(last-child), table th:not(last-child) {
    border-right: 1px solid #dde8f0;
}

table #tableArticle th{
    padding: 0.5em;
}

table #tableDescription ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

table #tableDescription ul li {
    word-wrap: break-word;
    padding: 0.25em 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.formElementWrapper {
    white-space: nowrap;
    padding-bottom: 0.2em;
    width: 18em;
    text-align: right;
}

#mainBannerImg, #mediumBannerImg {
    background-size: cover;
    background-position: center;
    background-attachment: initial;
    background-repeat: no-repeat;
}

#bannerContainer {
    position: relative;
}

#mainBannerImg {
    background-image: url('./images/banner.jpg');
    height: 25em;
}

#mediumBannerImg {
    background-image: url('./images/banner_medium.jpg');
    height: 15em;
}

#bannerBar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0.5em 0 0 0;
}

#bannerBar h3, #bannerBar p {
    margin: 0;
}

#formSubmit {
    margin-left: 17.7em;
    width: 6em;
}

#inscription {
    display: flex;
    flex-direction: column;
}

#mainContainer {
    padding: 2em 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#navContainer, #footerText {
    background-color: #004581;
}

#footerText {
    padding: 1em 0;
    text-align: center;
    color: white;
}

#footerText ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Mobile */
@media only all and (max-width: 768px) {
    body {
        font-size: 12pt;
        min-width: 215px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }

    table {
        width: 100%;
        margin: 0;
    }

    table img {
        height: 75px;
        width: 75px;
    }

    #mainContainer {
        width: 90%;
    }

    #mainBannerImg {
        background-image: url('./images/banner_small.jpg');
        height: 10em;
    }

    #mediumBannerImg {
        background-image: none;
        height: 0;
    }

    #bannerBar {
        position: relative;
    }

    #formSubmit {
        margin-left: 10.5em;
    }
}

/* Tablet */
@media only all and (min-width: 769px) and (max-width: 1024px) {
    table img {
        height: 115px;
        width: 115px;
    }
}